.contact{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    z-index: 5;
    border-width: 5px;
    border-radius: 20px;
    border-style:solid;
    border-color:grey;
    background-color: #383838;
    font-family: andale mono, monospace;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  /* Control the left side */
  .left {
    left: 0;
  }
  
  /* Control the right side */
  .right {
    right: 0;
  }

  .contact-header {
    text-decoration: underline;
  }

  .contact-text {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    margin-top: 25px;
  }

  .contact-left{
    text-decoration: underline;
  }

  .special-link:visited{
    color: inherit;
  }

  .special-link:hover{
    color: blue; 
  }

  .contact-left-link{
    margin-top: -25px;
  }

  .contact-text-hidden{
    visibility: hidden;
    font-size: 10px;
  }