body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      to right,
      white 0%,
      white 50%,
      black 50%,
      black 100%
    );
    overflow: hidden;

}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index:3;
  top: 1;
}

/* Control the left side */
.left {
  left: 0;
  font-family: andale mono, monospace;
}

/* Control the right side */
.right {
  right: 0;
  overflow: hidden;
}

.centered {
  position: relative;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

img {
  border-radius: 50%;
}

#img1 {
  max-width: 50%;
  height: auto;
}

.video {
  position: relative;
  min-width: 25%;
  min-height: 25%;
  max-width: 50%;
  max-height: 50%;
  opacity: 1;
}

.centered-text {
  text-align: center;
}

#placeholder{
  visibility: hidden;
}

h1{
  color: black;
}