.contact{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    z-index: 5;
    text-align: center;
    border-width: 5px;
    border-radius: 20px;
    border-style:solid;
    border-color:grey;
    background-color: #383838;
  }
  
  /* Control the left side */
  .left {
    left: 0;
  }
  
  /* Control the right side */
  .right {
    right: 0;
  }

  h1 {
    text-decoration:underline;
    color: lightgray;
  }

  .contact-text {
    color: lightgray;
    font-family: andale mono, monospace;
    display: flex;
    margin-left: 75px;
    margin-right: 75px;
  }